.homepage{
    /* background-color: blue; */
    height: 70vh;
	width: 100%;
    background-image: url(../IMG/photo-studentLab.avif);
	background-size: cover;
	background-position: center;
    opacity: 0.7;
    
}
 .content{
	position: absolute;
    top: 35%;
    align-items: center;
	justify-content: center;
    left: 15%;
    text-align: center;
    text-transform: capitalize;
    
}
h1{
	color: white;
	margin: 20px 0px 20px;
	font-size: 50px;
}
h3{
	color: white;
	font-size: 25px;
	margin-bottom: 50px;
    
}
h4{
	color: white;
	letter-spacing: 2px;
	font-size: 20px;
}