.voucher {
  height: 300px;
  width: 300px;
  text-decoration: none;
  color: rgb(47, 43, 66);
  text-transform: capitalize;
  font-size: 20px;
}

img {
  border: 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 200px;
  height: 200px;
}

.link {
  text-decoration: none;
  color: rgb(25, 25, 44);
}

.voucher-text {
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
  color: rgb(47, 43, 66);
}
