body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.shopping-cart {
  height: 40px;
  width: 40px;
}

.image {
  border: none;
  margin-top: 0.5rem;
}

.voucher-content {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 2rem;
  margin-left: 3rem;
  align-items: center;
}
